@charset "utf-8";


/* 팝업화면 분할 */
@media (max-width:413px){
    #book-bkgd{
            width:100%;
            height:100vh;
            background-color:rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index:1000;
            position:fixed;
            top:0;
            left:0;
            display:none;
    }
            
    #book-wrap{
            position:relative;
            width:100%;
            height:100%;
    }
            
    .book-popup{
            width:80vw;
            height:75vh;
            position:absolute;
            top:45%;
            left:50%;
            background-color:snow;
            border:3px solid rgb(195, 6, 6);
            border-radius: 20px;
            transform:translate(-50%, -50%);
    }

    .book-section{
            height:50vh;
    }

    .book-header{
            width:100%;
            height:45px;
            margin:0 auto;
            text-align: center;
            font-family:'Barlow';
            font-size:1.8rem;
            font-weight: bold;
            line-height: 45px;
            position:relative;
            color:#fff;
            background-color:rgba(195, 6, 6, 0.4);
            border-top-left-radius:15px;
            border-top-right-radius:15px;
    }
            
    .x-button{
            position:absolute;
            top:10px;
            right:30px;
            color:rgb(195, 6, 6);
            font-size:1.5rem;
            cursor: pointer;
    }
            
    .book-sec-top{
            width:100%;
            height:38%;
            margin:0 auto;
            text-align: center;
    }
            
    .book-sec-top>img{
            width:211px;
            margin:2% 0;
    }
            
    /* book-header 안 날짜 표시 p */
    .todaydate{
            font-family:'NanumSquareNeo-Variable';
            font-size:1.5rem;
            font-weight: bold;
            text-align: center;
    }
            
    .icon-bkgd{
            width:50px;
            height:50px;
            margin:0 auto;
            text-align: center;
            border-radius: 50%;
            line-height:50px;
            background-color:#fff;
    }
            
    .book-sec-middle{
            width:100%;
            height:85%;
            background-color:rgba(195, 6, 6, 0.4);
            position:relative;
    }
            
    .book-sec-middle table{
            width:100%;
    }
            
    .book-sec-middle th{
            width:100px;
            height:40px;
            padding:15px 5px 0px 5px;
            font-size:1.2rem;
            font-weight: 580;
            font-family:'GmarketSansMedium';
            text-align: center;
    }
            
    .book-sec-middle input[type="text"]{
            width:90%;
            height:20px;
            margin-top:30px;
    }
            
    .book-sec-middle input[type="date"]{
            width:90%;
            margin-top:30px;
    }
            
    .book-sec-middle select{
            height:20px;
            margin-top:25px;
    }
            
    .book-button{
            border:none;
            background-color:#c30606;
            font-size:1.3rem;
            color:#fff;
            border-radius: 40px;
            padding:8px 13px;
            cursor: pointer;
            position:absolute;
            right:20px;
            bottom:15px;
    }

    .book-button:hover{
            opacity:0.7;
    }
            
    .book-sec-footer{
            text-align: center;
    }
            
    .book-sec-footer p{
            font-family:'GmarketSansMedium';
            line-height:60px;
    }
}

@media (min-width:414px) and (max-width:701px) {
    #book-bkgd{
            width:100%;
            height:100vh;
            background-color:rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index:1000;
            position:fixed;
            top:0;
            left:0;
            display:none;
    }
            
    #book-wrap{
            position:relative;
            width:100%;
            height:100%;
    }
            
    .book-popup{
            width:80vw;
            height:70vh;
            position:absolute;
            top:46%;
            left:50%;
            background-color:snow;
            border:3px solid rgb(195, 6, 6);
            border-radius: 20px;
            transform:translate(-50%, -50%);
    }

    .book-section{
            height:48vh;
    }

    .book-header{
            width:100%;
            height:45px;
            margin:0 auto;
            text-align: center;
            font-family:'Barlow';
            font-size:1.8rem;
            font-weight: bold;
            line-height: 45px;
            position:relative;
            color:#fff;
            background-color:rgba(195, 6, 6, 0.4);
            border-top-left-radius:15px;
            border-top-right-radius:15px;
    }
            
    .x-button{
            position:absolute;
            top:10px;
            right:30px;
            color:rgb(195, 6, 6);
            font-size:1.5rem;
            cursor: pointer;
    }
   
    .book-sec-top{
            width:100%;
            height:38%;
            margin:0 auto;
            text-align: center;
    }
            
    .book-sec-top>img{
            width:211px;
            margin:2% 0;
    }
            
    /* book-header 안 날짜 표시 p */
    .todaydate{
            font-family:'NanumSquareNeo-Variable';
            font-size:1.5rem;
            font-weight: bold;
            text-align: center;
    }
            
    .icon-bkgd{
            width:50px;
            height:50px;
            margin:0 auto;
            text-align: center;
            border-radius: 50%;
            line-height:50px;
            background-color:#fff;
    }
            
    .book-sec-middle{
            width:100%;
            height:85%;
            background-color:rgba(195, 6, 6, 0.4);
            position:relative;
    }
            
    .book-sec-middle table{
            width:100%;
    }
            
    .book-sec-middle th{
            width:100px;
            height:40px;
            padding:30px 5px 0px 10px;
            font-size:1.2rem;
            font-weight: 580;
            font-family:'GmarketSansMedium';
            text-align: center;
    }
            
    .book-sec-middle input[type="text"]{
            width:90%;
            height:20px;
            margin-top:30px;
    }
            
    .book-sec-middle input[type="date"]{
            width:200px;
            height:20px;
            margin-top:30px;
    }
            
    .book-sec-middle select{
            height:23px;
            margin-top:25px;
    }
            
    .book-button{
            border:none;
            background-color:#c30606;
            font-size:1.3rem;
            color:#fff;
            border-radius: 40px;
            padding:10px 15px;
            cursor: pointer;
            position:absolute;
            right:20px;
            bottom:15px;
    }

    .book-button:hover{
            opacity:0.7;
    }
            
    .book-sec-footer{
            text-align: center;
    }
            
    .book-sec-footer p{
            font-family:'GmarketSansMedium';
            line-height:60px;
    }
}

@media (min-width:702px) and (max-width:1000px){
    #book-bkgd{
            width:100%;
            height:100vh;
            background-color:rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index:1000;
            position:fixed;
            top:0;
            left:0;
            display:none;
    }
            
    #book-wrap{
            position:relative;
            width:100%;
            height:100%;
    }
            
    .book-popup{
            width:80vw;
            height:65vh;
            position:absolute;
            top:50%;
            left:50%;
            background-color:snow;
            border:3px solid rgb(195, 6, 6);
            border-radius: 20px;
            transform:translate(-50%, -50%);
    }

    .book-section{
            height:45vh;
    }

    .book-header{
            width:100%;
            height:45px;
            margin:0 auto;
            text-align: center;
            font-family:'Barlow';
            font-size:1.8rem;
            font-weight: bold;
            line-height: 45px;
            position:relative;
            color:#fff;
            background-color:rgba(195, 6, 6, 0.4);
            border-top-left-radius:15px;
            border-top-right-radius:15px;
    }
            
    .x-button{
            position:absolute;
            top:10px;
            right:30px;
            color:rgb(195, 6, 6);
            font-size:1.5rem;
            cursor: pointer;
    }
            
    .book-sec-top{
            width:100%;
            height:38%;
            margin:0 auto;
            text-align: center;
    }
            
    .book-sec-top>img{
            width:211px;
            margin:3% 0;
    }
            
    /* book-header 안 날짜 표시 p */
    .todaydate{
            font-family:'NanumSquareNeo-Variable';
            font-size:1.5rem;
            font-weight: bold;
            text-align: center;
    }
            
    .icon-bkgd{
            width:50px;
            height:50px;
            margin:0 auto;
            text-align: center;
            border-radius: 50%;
            line-height:50px;
            background-color:#fff;
    }
            
    .book-sec-middle{
            width:100%;
            height:85%;
            background-color:rgba(195, 6, 6, 0.4);
            position:relative;
    }
            
    .book-sec-middle table{
            width:100%;
    }
            
    .book-sec-middle th{
            width:100px;
            height:40px;
            padding:30px 15px 0px 30px;
            font-size:1.2rem;
            font-weight: 580;
            font-family:'GmarketSansMedium';
            text-align: center;
    }
            
    .book-sec-middle input[type="text"]{
            width:90%;
            height:20px;
            margin-top:30px;
    }

    .book-sec-middle input[type="date"]{
            width:90%;
            height:20px;
            margin-top:30px;
    }
            
    .book-sec-middle select{
            width:35%;
            margin-top:30px;
            height:25px;
    }
            
    .book-button{
            border:none;
            background-color:#c30606;
            font-size:1.3rem;
            color:#fff;
            border-radius: 40px;
            padding:10px 15px;
            cursor: pointer;
            position:absolute;
            right:50px;
            bottom:50px;
    }

    .book-button:hover{
            opacity:0.7;
    }
            
    .book-sec-footer{
            text-align: center;
    }
            
    .book-sec-footer p{
            font-family:'GmarketSansMedium';
            line-height:60px;
    }
}

@media (min-width:1001px) and (max-width:1299px){
    #book-bkgd {
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index: 1000;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
    }
    #book-wrap {
            position: relative;
            width: 100%;
            height: 100%;
    }
    .book-popup {
            width: 50vw;
            height: 85vh;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: snow;
            border: 3px solid rgb(195, 6, 6);
            border-radius: 20px;
            transform: translate(-50%, -50%);
    }

    .book-section {
            height: 65vh;
    }

    .book-header {
            width: 100%;
            height: 45px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Barlow';
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 45px;
            position: relative;
            color: #fff;
            background-color: rgba(195, 6, 6, 0.4);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
    }

    .x-button {
            position: absolute;
            top: 10px;
            right: 30px;
            color: rgb(195, 6, 6);
            font-size: 1.5rem;
            cursor: pointer;
    }
    .book-sec-top {
            width: 100%;
            height: 30%;
            margin: 0 auto;
            text-align: center;
    }
    .book-sec-top>img {
            width: 150px;
            margin: 2% 0;
    }

    /* book-header 안 날짜 표시 p */
    .todaydate {
            font-family: 'NanumSquareNeo-Variable';
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
    }
    .icon-bkgd {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            border-radius: 50%;
            line-height: 50px;
            background-color: #fff;
    }

    .book-sec-middle {
            width: 100%;
            height: 80%;
            background-color: rgba(195, 6, 6, 0.4);
            position: relative;
    }

    .book-sec-middle table {
            width: 100%;
    }

    .book-sec-middle th {
            width: 150px;
            height: 40px;
            padding: 25px 0 10px 20px;
            font-size: 1.2rem;
            font-weight: 580;
            font-family: 'GmarketSansMedium';
            text-align: center;
    }

    .book-sec-middle input[type="text"] {
            width: 75%;
            height: 20px;
            margin-top: 15px;
    }

    .book-sec-middle input[type="date"] {
            width: 75%;
            margin-top: 15px;
    }

    .book-sec-middle select {
            margin-top: 15px;
    }

    .book-button {
            border: none;
            background-color: #c30606;
            font-size: 1.3rem;
            color: #fff;
            border-radius: 40px;
            padding: 10px 15px;
            cursor: pointer;
            position: absolute;
            right: 100px;
            bottom: 20px;
    }

    .book-button:hover {
            opacity: 0.7;

    }

    .book-sec-footer {
            text-align: center;
    }

    .book-sec-footer p {
            font-family: 'GmarketSansMedium';
            line-height: 60px;
    }
}